@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body, button{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header{
    background-image: url(/img/M4\ -\ Desafío3_img-header.png);
    width: 100%;
    height: 500px;
    background-size:cover;
}
main{
    width: 80%;
    padding: 10px;
    margin: auto;
}

img{
    width: 80%;
    display: block;
    margin: auto;
}

h1,h2{
    color: #0a2ff1;
}
h1{
    font-family: 'Roboto Slab', serif;
    font-size: 58px;
    font-weight: 700;
}
h2{
    font-size: 25px;
    font-weight: 700;
}
p{
    font-size: 25px;
    font-weight: 400;
    color: #000000;
}
#pregunta{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

button{
    font-size: 26px;
    font-weight: 400;
    color: white;
    background-color: #0a2ff1;
    width: 300px;
    height:50px;
    margin-bottom: 10px;
}

footer{
    background-color: #15163d;
    width: 100%;
    height: 20px;
}